.container-library-list {
    h2 {
        padding-left: 0 !important;
    }
    li{
        background: $colorBack;
        color: $colorTxt;
        border-bottom-color: $colorTxt;
        font-size: 1.2rem;
        padding: 10px;
    }
    .btn-delete {
        color: $colorPrimary;
        font-size: 1rem;
        padding: 5px 15px;
        height: 3em;
            &:hover {
                color: $white;
                transition: all .3s;
            }
    }
    .btn-delete-all {
        background: $colorBack;
        color: $colorPrimary;
        border: none;
        border-radius: 8px;
        padding: 8px 15px;
          &:hover {
            background: $colorPrimary;
            color: $white;
            transition: .3s !important;
        }
    }  
}